extends ../base.pug

block variables
  - const template = 'about'

  - const about = 'overflow-hidden'
  - const aboutWrapper = '[&>*]:py-60'

  - const gallery = 'h-[50rem] relative'
  - const galleryWrapper = 'flex absolute top-1/2 -translate-y-1/2'
  - const galleryImageWrapper = 'w-[30rem] h-[40rem]'
  - const galleryImage = 'image'

  - const aboutTitle = 'about-heading'

  - const content = 'grid justify-center'
  - const contentWrapper = 'flex gap-40'
  - const contentTextWrapper = 'flex gap-40'
  - const contentLabel = 'label'
  - const contentText = 'max-w-md'
  - const contentImageWrapper = 'w-[45rem] h-[60rem]'
  - const contentImage = 'image'

  - const highlight = 'w-[100rem] relative h-[70rem] mx-auto'
  - const highlightWrapper = ''
  - const highlightImageWrapper = 'w-[35rem] h-[50rem] absolute first-of-type:top-0 last-of-type:bottom-0 last-of-type:right-0'
  - const highlightImage = 'image'

  - const highlightText = ' flex items-center absolute-center -rotate-90'
  - const highlightLabel = 'label rotate-90 text-center w-32'
  - const highlightHeading = 'title-heading'

  - const direction = (direction) => direction === 'left' ? '' : 'flex-row-reverse'
  - const imageSize = (index) => index === 4 || index === 6 ? 'w-[800px] h-[500px]' : ''
  - const sectionLayoutFour = (index) => index === 4 ? '!justify-end' : ''
  - const sectionLayoutSix = (index) => index === 6 ? '!justify-start' : ''



block content 
  #about(class=about)
    #about__wrapper(class=aboutWrapper data-scroll-container)

      each section,index in body

        if section.slice_type == 'gallery'
          section#gallery(class=gallery)
            #gallery__wrapper(class=galleryWrapper)
              each media in section.items
                figure(class=galleryImageWrapper)
                  img(data-src=media.image.url src=media.image.url class=galleryImage)

        if section.slice_type == 'heading'
          h2(class=aboutTitle data-animation='title')!=section.primary.text.replace(/\n/g, '<br>')

        if section.slice_type == 'content'
          section(class=`${content} ${sectionLayoutFour(index)} ${sectionLayoutSix(index)}`)
            div(class=`${contentWrapper} ${direction(section.primary.direction)}`)
              div(class=contentTextWrapper)
                p(class=contentLabel data-animation='title')=section.primary.title
                p(class=contentText data-animation='paragraph')!=section.primary.text.replace(/\n/g, '<br>')
              figure(class=`${contentImageWrapper} ${imageSize(index)}`)
                img(data-src=section.primary.image.url src=section.primary.image.url class=contentImage)

        if section.slice_type == 'highlight'
          section(class=highlight)
            div(class=highlightWrapper)
              div(class=highlightText)
                h3(class=highlightHeading data-animation='title')=section.primary.title
                if section.primary.label
                  p(class=highlightLabel data-animation='title')=section.primary.label
              each media in section.items
                figure(class=highlightImageWrapper)
                  img(data-src=media.image.url src=media.image.url  class=highlightImage)
              