extends ../base.pug
include ../partials/vertical-titles

block variables
  - const template = 'home'

  - const homeContainer = 'h-screen'
  - const homeWrapper = 'h-full overflow-hidden relative'
  - const button = 'absolute left-1/2 -translate-x-1/2 bottom-5'

block content 
  #home(class=homeContainer)
    #home__wrapper(class=homeWrapper data-scroll-container)
      +vertical-titles(collections)

    #home__gallery
      each rows in [0, 1]
        each media, index in home.data.gallery
          figure.home__gallery__media(class=`home__gallery__media--${index % 5 + 1}`)
            img.home__gallery__media__image(alt=media.image.alt data-src=media.image.url)

    a(href='/collections' class=button)
      span=home.data.button
